html {
    font-family: 'Roboto', 'Noto Sans JP', sans-serif;
    font-size: 62.5%;
    color: #484848;
}

body {
    // background-color: #ECECEC;
    height: 100vh;
    position: relative;
    font-size: 1.2rem;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    font-size: 1.2rem;
    font-family: 'Roboto', 'Noto Sans JP';
    color: #484848;
}

input {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    appearance: none;
    font-size: 1.2rem;
    font-family: 'Roboto', 'Noto Sans JP';
    color: #484848;
}

#top{
    position: relative;
    z-index: 1;
}

.skewed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: white;
    z-index: 0;
    transform: skewY(-6deg);
    transform-origin: top left;
}

.lpHeader {
    position: fixed;
    height: 70px;
    display: flex;
    background-color: rgba(255,255,255,0.7);    width: 100%;
    justify-content: space-between;
    backdrop-filter: blur(3px);
    z-index: 10000;


    .headerList {
        height: 100%;

        .titleIcon {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 10px;


            img {
                height: 70%;
            }
        }
    }

    .headerBtn {
        display: flex;

        .headerBtnItem {
            width: 120px;
            border: 1px solid #0080E4;
            height: 60%;
            margin: auto 10px;
            border-radius: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            background-color: white;

            .login{
                color: #0080E4;
            }

        }
    }
}
.signinBtn{
    background-color: #0080E4 !important;

    a{
        color: white;
    }
}

.catchSect {
    height: 1000px;
    background: #0080E4;
    position: relative;
    z-index: 0;
}

.slide-item{
    width: auto !important;
  }

  .swiper-wrapper{transition-timing-function:linear; }

  .mannequinImg {
    height: 400px;
    background-image: url('../../img/other/mannequin_done3.png');
    object-fit: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    // min-width: 100px;
    // max-width: 400px;
    background-position-x: -60px;
    top: 100px;
    z-index: 1000;
    position: relative;
}

.tops-container{
    height: 200px;
    top: 40px;
    z-index: 1000 !important;
}

.toplist{
    height: 180px;
}

.pants-container{
    height: 200px;
    top: -20px;
    // position: absolute !important;
}

.pantslist{
    height: 180px;
}