html{
    font-family: 'Roboto', 'Noto Sans JP', sans-serif;
    font-size: 62.5%;
    color: #484848;
}

body{
    background-color: #ECECEC;
    height: 100vh;
    position: relative;
    font-size: 1.2rem;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

.headerBlank{
    content: '';
    height: 50px;
}

.navBlank{
    content: '';
    height: 80px;
}

// header


.header{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    position: fixed;
    width: 100%;

    .titleIcon{
        padding-left: 10px;
    }

    .mainTitle{
        font-size: 2.4rem;
        color: #0080E4;
        font-weight: bold;
    }
    .hiddenIcon{
        display: block;
        content:"";
        width: 24px;
        height: 24px;
    }
    .settingIcon{
        padding-right: 10px;
        cursor: pointer;
        color: #484848;
    }
}


// navbar


.navbar{
    height: 80px;
    background-color: #F9F9F9;
    opacity: 0.9;
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 100;

    .navbar_ul{
        display: flex;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;

        a{
            cursor: pointer;
        }

        li{
            padding: 10px;
            box-sizing: border-box;
            text-align: center;
        }

        p{
            text-align: center;
            color: #216496;
        }

    .navIcon{
        font-size: 4rem;
        color: #216496;
    }
    .navIconTshirt{
        font-size: 3rem;
        color: #216496;
        line-height: 41px;
        width: 100%;
        text-align: center;
    }
    }
}