html {
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
  font-size: 62.5%;
  color: #484848;
}

body {
  background-color: #ECECEC;
  height: 100vh;
  position: relative;
  font-size: 1.2rem;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  font-size: 1.2rem;
  font-family: 'Roboto', 'Noto Sans JP';
  color: #484848;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  appearance: none;
  font-size: 1.2rem;
  font-family: 'Roboto', 'Noto Sans JP';
  color: #484848;
}

.headerBlank {
  content: '';
  height: 50px;
}

.navBlank {
  content: '';
  height: 80px;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  position: fixed;
  width: 100%;
}

.header .titleIcon {
  padding-left: 10px;
}

.header .mainTitle {
  font-size: 2.4rem;
  color: #0080E4;
  font-weight: bold;
}

.header .hiddenIcon {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
}

.header .settingIcon {
  padding-right: 10px;
  cursor: pointer;
  color: #484848;
}

.navbar {
  height: 80px;
  background-color: #F9F9F9;
  opacity: 0.9;
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar .navbar_ul {
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.navbar .navbar_ul a {
  cursor: pointer;
}

.navbar .navbar_ul li {
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.navbar .navbar_ul p {
  text-align: center;
  color: #216496;
}

.navbar .navbar_ul .navIcon {
  font-size: 4rem;
  color: #216496;
}

.navbar .navbar_ul .navIconTshirt {
  font-size: 3rem;
  color: #216496;
  line-height: 41px;
  width: 100%;
  text-align: center;
}
