.headerBlank{
    content: '';
    height: 50px;
}

.navBlank{
    content: '';
    height: 80px;
}

.mySetsSect{
    height: 100vh;
}

// wrapper

.selectWearContainer{
    display: flex;
    height: 400px;
}

.btnDesign{
    width: 70px;
    // height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dddddd;
    color: #484848;

    .sideFontAwesome{
        font-size: 2rem;
    }

    .btnText{
        padding-top: 5px;
    }
}

.left{
    border-radius: 0 10px 10px 0;
}

.right{
    border-radius: 10px 0 0 10px;
    margin: 0 0 0 auto;
}



// 左コンテナ



.leftContainer{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


// 中央コンテナ


.centerContainer{
    width: 40%;
    min-width: 100px;

    .imgContainer{
        height: 100%;
    }

    .mannequinImg{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


// 右コンテナ


.rightContainer{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


// 下コンテナ

.bottomContainer{
    display: flex;
    justify-content: space-between;

    .bottomBtn{
        display: flex;
        width: 40%;
        height: 60px;
        min-width: 150px;
        justify-content: center;
        align-items: center;
        background-color: #dddddd;
        color: #484848;

        span{
            padding: 5px;
        }
        p{
            padding: 5px;
        }
    }
}
