@charset "UTF-8";
.headerBlank {
  content: '';
  height: 50px;
}

.navBlank {
  content: '';
  height: 80px;
}

.mySetsSect {
  height: 100vh;
}

.displayNone {
  display: none !important;
}

/* Chrome、Safari以外 */
summary {
  display: block;
  padding: 10px;
  text-align: center;
}

/* Chrome、Safari */
summary::-webkit-details-marker {
  display: none;
}

/* オープン時にアニメーションを設定 */
details[open] .detailsBottom {
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    /* 透明 */
    transform: translateY(-10px);
    /* 上から表示 */
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.selectWearContainer {
  display: flex;
  height: 400px;
}

.btnDesign {
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dddddd;
  color: #484848;
}

.btnDesign .sideFontAwesome {
  font-size: 2rem;
}

.btnDesign .btnText {
  padding-top: 5px;
}

.btnDesign .detailsBtn {
  color: #484848;
  text-align: center;
  padding: 10px;
  display: block;
}

.btnDesign hr {
  width: 80%;
}

.btnDesign .detailsBottom {
  text-align: center;
}

.left {
  border-radius: 0 10px 10px 0;
}

.right {
  border-radius: 10px 0 0 10px;
  margin: 0 0 0 auto;
}

.leftContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.centerContainer {
  width: 40%;
  min-width: 100px;
}

.centerContainer .imgContainer {
  height: 100%;
}

.centerContainer .mannequinImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rightContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.bottomContainer {
  display: flex;
  justify-content: space-between;
}

.bottomContainer .bottomBtn {
  display: flex;
  width: 40%;
  height: 60px;
  min-width: 150px;
  justify-content: center;
  align-items: center;
  background-color: #dddddd;
  color: #484848;
}

.bottomContainer .bottomBtn span {
  padding: 5px;
}

.bottomContainer .bottomBtn p {
  padding: 5px;
}
