.headerBlank{
    content: '';
    height: 50px;
}

.textContainer{
    display: flex;
    height: 50px;
    align-items: center;

    .recommendTitle{
        width: 60%;

        h2{
            text-align: center;

            span{
                border-bottom: 1px solid #484848;
                padding-bottom: 2px;
            }
        }
    }

    .recommendTags{
        width: 40%;
        display: flex;

        .tags{
            padding: 2px 4px;
            box-sizing: border-box;
            border-radius: 4px;
            margin: 0 4px;
            color: white;
            box-shadow: 1px 1px 3px 0px darkgrey;
        }
    }
}

.reccomendImgContainer{
    overflow-x: auto;
    white-space: nowrap;

    .reccomendImg_item{
        width: 100px;
        display: inline-block;
        padding: 10px;
        box-sizing: border-box;
        height: 140px;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}

.moreIcon{
    vertical-align: bottom;

    .moreIcon_inner{
    height: 120px;
    line-height: 120px;
    display: flex;
     justify-content: center;
    align-items: center;

    .moreIcon_text{
        display: flex;
        align-items: center;
        height: 30px;
        padding:  0 10px;
        box-sizing: border-box;
        border: 1px solid #484848;
        border-radius: 8px;
        color: #484848;

        .iconArrow{
            font-size: 1.5rem;
            padding-left: 5px;
        }
    }
    }
}

.backColorPink{
    background-color: pink;
}

.backColorGray{
    background-color: gray;
}