.navbar{
    .navbar_ul{
        .nav_coord{
            background-color: initial;
            border-radius: 10px;

            span{
                color: #216496;
            }

            p{
                color: #216496;
            }
        }
    }
}