@charset "UTF-8";
.viewFavoriteSect {
  height: 100vh;
}

.displayFlex {
  display: flex !important;
}

.displayNone {
  display: none !important;
}

#favoriteItem {
  display: flex;
}

#favoriteCoord {
  display: none;
}

.imgContainer {
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  height: 60vh;
  overflow: scroll;
}

.imgContainer .imgItems {
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  margin: 10px;
  box-shadow: 1px 1px 3px 0px darkgrey;
  height: fit-content;
}

.imgContainer .imgItems img {
  width: 100%;
}

.toggleBtn {
  text-align: center;
  background-color: #216496;
  width: 70%;
  margin: auto;
  padding: 5px;
  border-radius: 5px;
}

/** ラジオボタンは非表示にする。 */
input[type="radio"] {
  display: none;
}

/** スイッチボタンのベース装飾 */
input[type="radio"] + label {
  display: inline-block;
  width: 100px;
  padding: 5px;
  background-color: none;
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  transition: all 0.5s ease-out;
  border-radius: 5px;
}

/** ラジオボタンにチェックが入ったとき  */
input[type="radio"]:checked + label {
  background-color: #dddddd;
}

.tab_content {
  display: none;
}

.tab-switch:checked + .tab_item + .tab_content {
  display: block;
}
