.navbar {
    .navbar_ul {
        .nav_home {
            background-color: #216496;
            border-radius: 10px;

            span {
                color: white;
            }

            p {
                color: white;
            }
        }
    }
}




// recommend by wearcoord


.textContainer {
    display: flex;
    height: 50px;
    align-items: center;

    .recommendTitle {
        width: 60%;

        h2 {
            text-align: left;
            padding-left: 10px;

            span {
                border-bottom: 1px solid #484848;
                padding-bottom: 2px;
            }
        }
    }

    .recommendTags {
        width: 40%;
        display: flex;

        .tags {
            padding: 2px 4px;
            box-sizing: border-box;
            border-radius: 4px;
            margin: 0 4px;
            color: white;
            box-shadow: 1px 1px 3px 0px darkgrey;
        }
    }
}

.reccomendImgContainer {
    overflow-x: auto;
    white-space: nowrap;

    .homeImg {
        display: inline-block;
        height: 100%;
    }

    .reccomendImg_item {
        width: 100px;
        display: inline-block;
        padding: 10px;
        box-sizing: border-box;
        height: 140px;
        background-color: rgba(255,255,255,0.6);
        border-radius: 10px;
        text-align: center;

        button {
            width: 100%;
            height: 100%;
        }

        img {
            // width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.moreIcon {
    vertical-align: bottom;
    background-color: initial !important;

    .moreIcon_inner {
        height: 120px;
        line-height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;

        .moreIcon_text {
            display: flex;
            align-items: center;
            height: 30px;
            padding: 0 10px;
            box-sizing: border-box;
            border: 1px solid #484848;
            border-radius: 8px;
            color: #484848;

            .iconArrow {
                font-size: 1.5rem;
                padding-left: 5px;
            }
        }
    }
}

.backColorPink {
    background-color: pink;
}

.backColorGray {
    background-color: gray;
}


// hotTags


.tagContainer {
    background-color: white;
    width: 90%;
    margin: auto;
    border-radius: 10px;

    ul {
        width: 90%;
        height: 90%;
        margin: auto;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;

        li {
            padding: 2px 4px;
            box-sizing: border-box;
            border-radius: 4px;
            margin: 4px 4px;
            color: white;
            box-shadow: 1px 1px 3px 0px darkgrey;
            background-color: gray;
        }
    }
}


// article section


.articleImgContainer {
    overflow-x: auto;
    white-space: nowrap;

    .article_item {
        display: inline-block;
        padding: 0 10px;
        margin: 10px;
        box-sizing: border-box;
        background-color: white;
        border-radius: 10px;
        max-width: 200px;

        .article_itemBox {
            display: flex;

            .articleImg {
                width: 70px;
                height: 70px;
                display: inline-block;
                padding: 10px;
                box-sizing: border-box;

                img {
                    // width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .articleTitle {
                line-height: 70px;
                white-space: normal;
                margin: auto;
                line-height: initial;
            }
        }
    }
}

.wearcoordlab {
    .wearcoordlab_link {
        width: 90%;
        margin: auto;
        cursor: pointer;

        a {
            img {
                width: 100%;
                border-radius: 10px;
            }
        }
    }
}


// view all coord

.imgContainer {
    // display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    height: 60vh;
    overflow: scroll;
    display: flex;

    .imgItems {
        width: 40%;
        padding: 10px;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 10px;
        margin: 10px;
        // box-shadow: 1px 1px 3px 0px darkgrey;
        height: fit-content;

        img {
            width: 100%;
        }
    }
}