.modalCloseBtn {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #484848;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0.8;
  right: 10px;
  top: 30px;
}

.modal {
  width: 90%;
  height: 80%;
  background-color: white;
  margin: auto;
  border-radius: 30px;
  overflow: auto;
  margin-top: 50px;
}

.modal hr {
  width: 70%;
}

.modal .modalContainer {
  width: 90%;
  margin: auto;
  padding: 20px 0;
  box-sizing: border-box;
}

.modal .modalContainer .modalTitle {
  text-align: center;
  font-size: 2rem;
  text-transform: capitalize;
}

.modal .modalContainer .modalSect {
  font-size: 1.4rem;
  padding: 10px;
}

.modal .modalContainer .modalSect .center {
  text-align: center;
  padding: 5px;
  text-transform: capitalize;
}

.modal .modalContainer .modalSect .price {
  color: red;
}

.modal .modalContainer .modalSect .buy {
  padding: 5px;
}

.modal .modalContainer .modalSect .buy table {
  width: 100% !important;
}

.modal .modalContainer .modalSect .linkArticle {
  display: flex;
  box-shadow: 1px 1px 3px 0px darkgrey;
  margin: 10px;
  border-radius: 10px;
}

.modal .modalContainer .modalSect .linkArticle .articleImg {
  width: 20%;
}

.modal .modalContainer .modalSect .linkArticle .articleImg img {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.modal .modalContainer .modalSect .linkArticle .articleTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #484848;
  width: 80%;
  padding: 10px;
  box-sizing: border-box;
  line-height: 1.2;
}

.bottomBtn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  top: 50px;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.bottomBtn .itemBottomBtn {
  background-color: #216496;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

.bottomBtn .itemBottomBtn button {
  display: flex;
  align-items: center;
  color: white;
}

.bottomBtn .itemBottomBtn span {
  padding-right: 10px;
}
