.navbar {
    .navbar_ul {
        .nav_coord {
            background-color: #216496;
            border-radius: 10px;

            span {
                color: white;
            }

            p {
                color: white;
            }
        }
    }
}

.searchMySetsSect {
    height: 100vh;
}

.upperContainer {
    height: 70vh;
    display: flex;
}


// マネキンエリア

.mannequinWrapper {
    width: 45%;
    margin: auto;
}

.mannequinBox {
    height: 400px;
    // width: 45%;
    min-width: 150px;

}
.mannequinImg {
    height: 100%;
    // background-image: url('../../img/other/mannequin_done3.png');
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 100px;
    max-width: 400px;
    background-position-x: 47%;
}

.mannequinBtn {
    width: 100%;
    height: 100%;
}


.capsForm {
    height: 40px;

    .mannequinItemImg {
        width: 70px;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.faceDiv {
    height: 20px;
}

.topsForm {
    height: 130px;
    position: relative;
    z-index: 100;

    .mannequinItemImg {
        width: 100%;
        height: 140px;
        max-width: 170px;
    }
}

.pantsForm {
    height: 155px;
    position: relative;

    .mannequinItemImg {
        width: 100%;
        height: 180px;
        max-width: 200px;
    }
}

.socksImg{
    display: flex;
    justify-content: center;
}

.socksBox{
    width: 20px;
    height: 15px;
    margin: 0 4px;
    border-radius: 6px 6px 0 0;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    box-sizing: border-box;
}

.shoesForm {
    height: 40px;

    .mannequinItemImg {
        width: 100px;
        height: 100%;
        max-width: 200px;
        object-fit: cover;
    }
}



// バックボタン

.backBtn {
    width: 5%;
    display: flex;
    align-items: center;

    a {
        background-color: #dddddd;
        width: 100%;
        color: white;
        border-radius: 5px 0 0 5px;
        height: 50px;
        display: flex;
        align-items: center;
    }
}



// searchエリア

.searchBox {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px 0 0 30px;

    .searchContainer {
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .searchTitle {
            text-align: center;
            font-size: 1.5rem;
            padding: 10px;
            box-sizing: border-box;
            text-transform: capitalize;
        }

        .searchDown {
            text-align: center;

            select {
                width: 80%;
            }
        }

        hr {
            width: 50%;
        }

        .searchBtn {
            text-align: center;
            margin: auto;
            padding: 10px;

            button {
                width: 100%;
                padding: 5px;
                border-radius: 10px;
                background-color: #216496;
                color: white;
            }
        }
    }
}

.items {
    height: 60%;
    overflow: auto;
}

.itemContainer {

    .itemBox {
        width: 100%;
        display: flex;
        padding: 5px;
        box-sizing: border-box;

        .itemImg {
            width: 50%;
            border-radius: 5px 0 0 5px;

            img {
                width: 100%;
                padding: 5px;
                box-sizing: border-box;
            }
        }

        .itemInfo {
            width: 50%;
            background-color: #ececec;
            border-radius: 0 5px 5px 0;
            padding: 5px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .itemInfo_price {
                color: red;
                text-align: center;
                padding: 4px;
            }

            .itemInfoBtn {
                width: 100%;
                background-color: white;
                display: inline-block;
                text-align: center;
                padding: 5px;
                box-sizing: border-box;
                border-radius: 5px;
                color: #484848;
                box-shadow: 2px 2px 2px 0 lightgrey;

                i {
                    padding-right: 5px;
                }
            }
        }
    }
}