.navbar {
    .navbar_ul {
        .nav_coord {
            background-color: #216496;
            border-radius: 10px;

            span {
                color: white;
            }

            p {
                color: white;
            }
        }
    }
}

.searchMySetsSect {
    height: 100vh;
}

.upperContainer {
    height: 70vh;
    display: flex;
}


// マネキンエリア


.mannequinBox {
    height: 400px;
    width: 45%;
    min-width: 150px;

    .mannequinImg {
        height: 100%;
        background-image: url('../../img/other/mannequin_done3.png');
        object-fit: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}


// バックボタン

.backBtn {
    width: 5%;
    display: flex;
    align-items: center;

    a {
        background-color: #dddddd;
        width: 100%;
        color: white;
        border-radius: 5px 0 0 5px;
        height: 50px;
        display: flex;
        align-items: center;
    }
}



// searchエリア

.searchBox {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px 0 0 30px;

    .searchContainer {
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .searchTitle {
            text-align: center;
            font-size: 1.5rem;
            padding: 10px;
            box-sizing: border-box;
            text-transform: capitalize;
        }

        .searchDown {
            text-align: center;

            select {
                width: 80%;
            }
        }

        hr {
            width: 50%;
        }

        .searchBtn {
            text-align: center;
            margin: auto;
            padding: 10px;

            button {
                width: 100%;
                padding: 5px;
                border-radius: 10px;
                background-color: #216496;
                color: white;
            }
        }
    }
}

.items {
    height: 60%;
    overflow: auto;
}

.itemContainer {

    .itemBox {
        width: 100%;
        display: flex;
        padding: 5px;
        box-sizing: border-box;

        .itemImg {
            width: 50%;
            border-radius: 5px 0 0 5px;

            img {
                width: 100%;
                padding: 5px;
                box-sizing: border-box;
            }
        }

        .itemInfo {
            width: 50%;
            background-color: #ececec;
            border-radius: 0 5px 5px 0;
            padding: 5px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .itemInfo_price {
                color: red;
                text-align: center;
                padding: 4px;
            }

            .itemInfoBtn {
                width: 100%;
                background-color: white;
                display: inline-block;
                text-align: center;
                padding: 5px;
                box-sizing: border-box;
                border-radius: 5px;
                color: #484848;
                box-shadow: 2px 2px 2px 0 lightgrey;

                i {
                    padding-right: 5px;
                }
            }
        }
    }
}